<header>
  <h1>APP de lista de compras</h1>
</header>

<% if user_signed_in? %>
  <p>Bem vindo, <%= current_user.name %></p>

  <br />

  <div><%= link_to 'Criar nova lista de compras', new_user_backoffice_list_path %></div>
<% end %>