<h4>Detalhes da receita</h4>
<ul>
  <li>Nome da receita: <%= @recipe.name %></li>
  <li>Instruções: <%= @recipe.instructions %></li>
  <li>Pessoas: <%= @recipe.people %></li>
</ul>

<%= link_to 'Editar', edit_user_backoffice_recipe_path %>